*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/* header section css goes here */
.header{
	width: 100%;
}
.top-header{
	width: 100%;
	padding: 15px 0px;
	background: #f5f7fa;
}
.top-header .left{
	display: block;
	margin: 0px;
}
.top-header .left li{
	list-style: none;
	display: inline-block;
}
.top-header .left a{
	font-size: 15px;
	font-weight: 600;
	color:  #506a85;
	margin-right:25px;
}
.top-header .left a:hover{
	text-decoration: none;
}
.top-header .left .fa{
	margin-right: 8px;

}
.top-header .right{
	text-align: right;
	display: block;
	margin: 0px;
}
.top-header .right li{
	list-style: none;
	display: inline-block;
}
.top-header .right a{
	font-size: 15px;
	font-weight: 600;
	color:  #506a85;
	margin-right:15px;
}
.header .bg-light{
	background: #ffffff !important;
    padding: 18px 0px
}
.header .navbar-nav{
	margin-left: 15px;
}
.header .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #506a85;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}
.header .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    text-transform: uppercase;
}
.header .navbar-light .navbar-nav .nav-link:focus, 
.header .navbar-light .navbar-nav .nav-link:hover {
    color: #00bc9c;
}
.header .search{
	color:#506a85; 
	margin-right: 15px;
}
/* banner section css goes here */
.banner{
	width: 100%;
}
.banner .carousel-caption {
    position: absolute;
    right: 15%;
    bottom:30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.banner .carousel-caption h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner .carousel-caption p {
    font-size: 16px;
    line-height: 26px;
    color: #a3b1bf;
    margin-bottom: 25px;
}
.banner .carousel-caption .btn-info {
    padding: 8px 10px;
    border: 1px solid #00bc9c;
    border-radius: 2px;
    background:#00bc9c;
    text-transform: uppercase;
    margin-top: 28px;
    transition: 1s;
}

.banner .carousel-caption .btn-info:focus,
 .banner .carousel-caption .btn-info:hover{
 	background: transparent;
 	color:#00bc9c; 
 	border: 1px solid #00bc9c;

}

.who-we-are{
	width: 100%;
	padding: 50px 0px;
}
.who-we-are .title{
	width: 100%;
	text-align: center;
}
.who-we-are .title h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 400;
    color: #506a85;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.who-we-are .title p{
    font-size: 16px;
    line-height: 26px;
    color: #a3b1bf;
    margin-bottom: 25px;	
}

.who-we-are .media{
	width: 100%;
	margin-top: 20px;
}
.who-we-are .media h5{
    font-size: 20px;
    line-height: 30px;
    color: #506a85;
    margin-bottom: 25px;
}
.who-we-are .media p{
	font-size: 14px;
    line-height: 24px;
    color: #a3b1bf;
    margin-bottom: 25px;	
}


